body {
    color: purple;
    background: white;
    font-family: "Playwrite CU", cursive;
}

header {
    border: solid 2px purple;
}

    section{
        background :rgb(255, 215, 234)
    }

    .chamada-texto {
        marging-right: 5%;
    }sssss